body {
  margin: 0px;
  background-color: #b1aead;
}

/* mobile version */

/* wall syle */
#wall {
  width: 100vw;
  height: 44vh;
  background-color: #b1aead;
  position: relative;
}

#logo {
  margin: 20px;
  width: 90px;
  height: 90px;
  display: block;
  margin: auto;
  border: 1px solid black;
  background-image: url("svg/Foobar.svg");
}
/* screen style*/

.screen {
  width: 220px;
  height: 198px;
  background: #5b5a58;
  border: 8px solid black;
  display: block;
  margin: auto;
  overflow-x: scroll;
  white-space: nowrap;
  position: relative;
}

.screen:after {
  content: "";
  display: table;
  clear: both;
}

.screen-wrap {
  width: 100%;
  display: inline-block;
}
.screen h1 {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
  color: #fff;
  font-weight: 100;
  text-decoration: underline;
}
.columns {
  width: 100%;
  display: inline-block;
}

.object {
  width: 100%;
  display: block;
  float: none;
  clear: left;
}

#beer-img {
  width: 25px;
  height: 25px;
  float: left;
  background: blue;
  margin-bottom: 5px;
  margin-left: 10px;
}

#beer-name {
  float: left;
  padding-left: 20px;
  line-height: 0.4em;
  margin-bottom: 1px;
  position: relative;
  top: -6px;
  color: #fff;
}
#beer-price {
  float: right;
  margin-right: 10px;
  margin-bottom: 1px;
  line-height: 0.3em;
  position: relative;
  top: -10px;
  padding: 0.25em;
  background: #f0c747;
  border-radius: 10px;
}

/* beer style */
#beer {
  position: relative;
  background-color: #d5cdb4;
  width: 100vw;
  height: 36vh;
}

.under {
  position: absolute;
  bottom: 0;
}

.underkage {
  background-color: #5b5a59;
  height: 15px;
}

.underbeer {
  width: 100vw;
  height: 3vh;
  background-image: linear-gradient(#5b5a59, #808080);
  opacity: 0.9;
}

/* table style */
#table {
  background-color: #867151;
  width: 100vw;
  height: 20vh;
}

.shadow {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 15vh;
  background-image: linear-gradient(black, #808080);
  opacity: 0.4;
}

.chair1,
.chair2,
.chair3 {
  width: 110px;
  position: absolute;
  bottom: 0;
  margin-left: 10px;
}

.chair2,
.chair3 {
  display: none;
}

@media screen and (min-width: 500px) {
  /* wall style */
  #wall {
    height: 42vh;
    display: flex;
    justify-content: center;
  }

  .item-a {
    margin: auto;
  }

  #logo {
    width: 100px;
    height: 100px;
    margin: auto;
  }

  /* wall screen style */
  .screen {
    width: 220px;
    height: 201px;
  }
  .screen h1 {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
  }
  .columns {
    width: 100%;
    display: inline-block;
  }

  .object {
    width: 100%;
    display: block;
    float: none;
    clear: left;
  }
  #beer-img {
    width: 25px;
    height: 25px;
    float: left;
    background: blue;
    margin-bottom: 5px;
    margin-left: 10px;
  }

  #beer-name {
    float: left;
    padding-left: 20px;
    line-height: 0.4em;
    margin-bottom: 1px;
  }
  #beer-price {
    float: right;
    padding-right: 10px;
    line-height: 0.4em;
    margin-bottom: 1px;
  }

  /* beer style */
  #beer {
    height: 38vh;
  }

  .underbeer {
    height: 5vh;
  }

  .chair1,
  .chair2 {
    display: block;
    width: 120px;
    margin-left: 20px;
  }

  .chair2 {
    margin-left: 160px;
  }
}

@media screen and (min-width: 800px) {
  /* wall style */
  #logo {
    width: 150px;
    height: 150px;
  }

  /* wall screen style */

  .screen {
    width: 450px;
    height: 241px;
    border: 8px solid black;
    display: block;
    margin: auto;
    overflow-x: scroll;
    white-space: nowrap;
    position: relative;
  }

  .screen h1 {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
  }
  .columns {
    width: 100%;
    display: inline-block;
  }

  .object {
    width: 100%;
    display: block;
    float: none;
    clear: left;
  }
  #beer-img {
    width: 35px;
    height: 35px;
    float: left;
    background: blue;
    margin-bottom: 4px;
    margin-left: 10px;
  }

  #beer-name {
    float: left;
    padding-left: 20px;
    line-height: 0.4em;
    margin-bottom: 1px;
  }
  #beer-price {
    float: right;
    padding-right: 10px;
    line-height: 0.4em;
    margin-bottom: 1px;
  }
  /* table style */
  .chair1,
  .chair2,
  .chair3 {
    display: block;
    width: 120px;
  }

  .chair2 {
    margin-left: 180px;
  }

  .chair3 {
    margin-left: 340px;
  }
}

/* tablet version */
@media screen and (min-width: 1024px) {
  /* wall style */

  #wall {
    display: flex;
    justify-content: center;
  }

  .item-a {
    margin: auto;
  }

  #logo {
    width: 150px;
    height: 150px;
  }

  /* wall screen style */

  .screen {
    width: 500px;
    height: 227px;
    border: 8px solid black;
    display: block;
    margin: auto;
    overflow-x: scroll;
    white-space: nowrap;
    position: relative;
  }

  .screen h1 {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
  }

  .screen-wrap {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .columns {
    width: 100%;
  }
  #beer-img {
    width: 30px;
    height: 30px;
    float: left;
    background: blue;
    margin-bottom: 6px;
    margin-left: 10px;
  }

  #beer-name {
    float: left;
    padding-left: 20px;
    line-height: 0.4em;
    margin-bottom: 1px;
  }
  #beer-price {
    float: right;
    padding-right: 10px;
    line-height: 0.4em;
    margin-bottom: 1px;
  }

  /* beer style */

  .underbeer {
    height: 5vh;
  }

  /* table style */
  .chair1,
  .chair2,
  .chair3 {
    display: block;
    width: 120px;
  }

  .chair2 {
    margin-left: 200px;
  }

  .chair3 {
    margin-left: 380px;
  }
}

/* @media screen and (min-width: 1400px) and (max-width:1900px)and (orientation: portrait) {
  body {
    width: 70%;
  }
} */

@media screen and (min-width: 1200px) {
  /* wall style */
  #logo {
    width: 170px;
    height: 170px;
  }

  /* wall screen style */

  .screen {
    height: 230px;
    width: 600px;
    display: block;
    margin: auto;
    overflow-x: scroll;
    white-space: nowrap;
    position: relative;
  }

  .screen h1 {
    text-align: left;
    margin-top: 7px;
    margin-bottom: 5px;
    padding-left: 10px;
  }

  .screen-wrap {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .columns {
    width: 100%;
  }
  #beer-img {
    width: 32px;
    height: 32px;
    float: left;
    background: blue;
    margin-bottom: 5px;
    margin-left: 10px;
  }

  #beer-name {
    float: left;
    padding-left: 20px;
    line-height: 0.4em;
    margin-bottom: 1px;
  }
  #beer-price {
    float: right;
    padding-right: 10px;
    line-height: 0.4em;
    margin-bottom: 1px;
  }
}

@media screen and (min-width: 1550px) {
  /* wall style */
  #logo {
    width: 350px;
    height: 350px;
  }

  /* wall screen style */

  .screen {
    height: 400px;
    width: 900px;
    display: block;
    margin: auto;
    overflow-x: scroll;
    white-space: nowrap;
    position: relative;
  }

  .screen h1 {
    text-align: left;
    margin-top: 5px;
    padding-left: 20px;
  }
  .screen-wrap {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .columns {
    width: 100%;
  }
  #beer-img {
    width: 40px;
    height: 40px;
    float: left;
    background: blue;
    margin-bottom: 5px;
    margin-left: 10px;
  }

  #beer-name {
    float: left;
    padding-left: 20px;
    line-height: 0.4em;
    margin-bottom: 1px;
  }
  #beer-price {
    float: right;
    padding-right: 10px;
    line-height: 0.4em;
    margin-bottom: 1px;
  }

  /*table style */

  .chairs {
    margin-left: 100px;
  }

  .chair1,
  .chair2,
  .chair3 {
    width: 230px;
  }

  .chair2 {
    margin-left: 350px;
  }

  .chair3 {
    margin-left: 680px;
  }
}
